{% extends 'base.html.twig' %}

{% block title %}Create User{% endblock %}

{% block head %} {% endblock %}


{% block body %}

   <link href="{{ asset('css/crm.css') }}" type="text/css" rel="stylesheet">

    <main role="main" class="container">

            <h1 style = "margin-top: 15px;">Ajouter un utilisateur</h1><br><br>
        {{ form(form) }}

    </main>
{% endblock %}